target/META-INF/mule-src/problem-employee-api/src/main/mule/problem-3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="problem3Flow-(reUseableFunction)" doc:id="4a18c389-ea66-42b0-8722-64a897351e16" >
		<http:listener doc:name="Listener" doc:id="e3d963c5-ee05-4c2a-87c0-87297d5133e8" config-ref="api-httpListenerConfig" path="/camel"/>
		<ee:transform doc:name="Transform Message" doc:id="30349c9b-6ef8-4052-9b49-68b55480bb83" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import dwl::globalFunction as call
output application/json
---
call::camelCaseFun("Jan_Doe_employee_profile_is_created_in_HRMS_System")

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="55884929-67cf-4be3-ba49-9e4d2dceafdd" message="#[payload]"/>
	
</flow>
</mule>
