src/main/mule/problem-5.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="problem-5Flow" doc:id="d4793dc8-faaa-4c17-8105-a4a206e06c8b" >
		<http:listener doc:name="Listener" doc:id="745b0f59-d9d9-4625-a10f-0e1e9df66164" config-ref="api-httpListenerConfig" path="/headers/{number}"/>
		<ee:transform doc:name="Transform Message" doc:id="a750f3ce-e69a-42fa-af5c-198d1555eaf2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
fun listNumberPrepare(list:Array, maxSize:Number) = if(sizeOf(list) >= maxSize) 
                                                      list
                                                    else 
                                                      listNumberPrepare( list ++ [(sizeOf(list) + 1) as Number], maxSize)
---
listNumberPrepare([], attributes.uriParams.number)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4a5fdd25-fe75-47ba-8c9d-d5af42132555" message="#[payload]"/>
	
</flow>
</mule>
